name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'

      - run: chmod 777 ./gradlew
      - run: ./gradlew createReleaseDistributable

      - uses: actions/upload-artifact@v6
        with:
          name: app-release-kmp
          path: app/build/compose/binaries/main-release/app/li.songe.kmp
